.new-todo-form {
    /* filter: blur(4px);  */
    backdrop-filter: blur(50px);
    background-color: rgba(55, 70, 85, 0.466);
    height: 20rem;
    width: 50rem;
    margin: 3rem;
    border-radius: 7px;
    box-shadow: 0px 5px 20px rgba(20, 20, 20, 0.788);

}

.new-todo-textarea {
    margin: 2% 5%;
    /* padding: 0%, auto ; */
    width: 90%;
    height: 70%;
    background-color: rgb(89, 103, 105);
    color: aliceblue;
    font-size: 2rem;
    border: none;
    border-radius: 4px;
    outline: none;
}

.new-todo-textarea:focus {
    outline: none;
    background-color: rgb(48, 51, 77);
    color: aliceblue;
}

.button-container {
    height: 30%;
}

.new-todo-buttons {
    width: 40%;
    height: 35%;
    margin: auto 5% auto 5%;
    border: none;
    border-radius: 5px;

}

.new-todo-button__cancel {
    background-color: rgba(96, 134, 167, 0.274);
    color: azure;
}

.new-todo-button__accept {
    background-color: rgba(67, 110, 148, 0.692);
    color: azure;
}