.ul-list{
    padding: 0;
}
.skeleton-background-animation {
    animation-duration: 2.9s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: preloadAnimation;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #5b688165 8%, rgb(125, 151, 180) 18%, #5b688165 33%);
    display: flex;
    min-height: 4.55rem;
    /* abajo efectos personales */
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
    border-radius: 3px;
   
}

@keyframes preloadAnimation {
    0% {
        background-position: -970px
    }

    100% {
        background-position: 895px
    }
}
 
.first-item{
    margin-top: 24px;

}